* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
    overflow-x: hidden;
}

@font-face {
  font-family: Secular-one;
  src: url(../assets/font/Secular_One/SecularOne-Regular.ttf);
}

#text1 {
  font-family: Secular-one;
  font-size: 2.2rem;
  width: 50vw;
  margin: 0 auto;
  text-align: center;
}

.swiper {
  height: 70vh;
  width: 100vw;
  margin: 10rem 0;
}

.swiper-wrapper {
  cursor: pointer;
}

.swiper-slide{
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide > img {
  width: 90%;
}

.swiper-slide > iframe {
  pointer-events: none;
}

#text2 {
    width: 50vw;
    margin: 0 auto ;
    text-align: center;
    padding: 3rem 0;
}

#text2>div:first-child {
    font-size: 2.2rem;
    font-weight: 500;
}

#text2>div:last-child {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    background-color: #333;
    margin: 0 auto;
    width: 200px;
    border-radius: 30px;
    margin-top: 2rem;
    color: white;
    padding: 0.7rem;
    cursor: pointer;
    letter-spacing: 0.1rem;
    font-size: 0.9rem;
}

#text2>div:last-child:hover {
    opacity: 0.7;
    transition: opacity 0.5s;
}

#text3Title {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 4rem;
    text-align: center;
    margin-top: 25rem;
    margin-bottom: 5rem;
    font-weight: 500;
    width: 50vw;
    margin: 25rem auto 5rem auto;
}

#text3ContentBox {
  height: 60vh;
  margin: 0 auto;
  width: 50vw;
}

.text3OurValues {
    width: 45vw;
    margin: 2rem auto;
    font-size: 1.2rem;
    line-height: 2rem;
    letter-spacing: 1px;
}

.text3OurValues>div:last-of-type {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.text3OurValues>div:first-child {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 1px;
    font-weight: bold;
    letter-spacing: 1px;
}

#text4 {
  font-size: 3.5rem;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 15rem;
}

.imgBox {
  margin: 10rem 0;
}

.images {
  display: flex;
  height: 45h;
  
}

.images > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.images > div > img {
  width: calc((100vw)/3);
  margin: 0 auto;
}

.images > div > div:first-of-type {
  font-size: 1.5rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 3rem;
}

.images > div > div:last-of-type {
  margin-top: 1rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #444;
  letter-spacing: 1px;
} 

#joinTeam {
  cursor: pointer;
}

#text5 {
  text-align: center;
}

#text5 > div:first-of-type {
  font-size: 3rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#text5 > div:last-of-type {
  background-color: #333;
  color: white;
  width: 8vw;
  border-radius: 30px;
  padding: 1rem 0;
  margin: 3rem auto;
  font-size: 0.9rem;
  letter-spacing: 2px;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}

#text5 > div:last-of-type:hover {
  opacity: 0.7;
  transition: opacity 0.5s;
}
