/*
1. 주석 자리
 : 최대한 구역별, 함수 부연설명 (이후에 지울거 지우고 정리하기)
2. css 단위
 : 폰트사이즈 => rem
 : 모든 네이밍 => 카멜식 (ex. subHeader)
 : 넓이/높이 => vw / vh / %
3. 루트 => 페이지 정해지면 의논하기
4. console.log(); => 개인 확인후 지우기 (문제 있을시 주석처리)
5. 시멘틱태그 활용하여 구역나누기 (header / body / footer 사용)
6. 화살표 함수와 일반 함수를 어떻게 구분하여 사용할 것인지
7. 이벤트명 => 적당히 잘 타인이 알수 있게끔(하면서 맞춰보기)
8. 작은따옴표('')
9. 세미클론(;) 필수
10. const = 변수명 => 이런식으로 = 양옆에 띄어쓰기 하기
11. function (p1, p2) => ( ) 괄호안 양옆 띄우지 않기  (ex. ( p1, p2 ) => X)
12. 구역별 / function 앞뒤 Enter (가독성을 위해)
*/

/* 공통 */
:root {
    --primaryColor: #000;
    --secondaryColor: #fff;
    --bigFontSize: 2rem;
    --midFontSize: 1rem;
    --smallFontSize: 0.5rem;
}

*{
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: #000;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    width: 100%;
    height: 10rem;
    font-size: var(--midFontSize);
    padding-left: 40px;
    padding-right: 40px;
    justify-content: space-between;
    position:sticky;
    top: 0;
}

header > div{
    display: flex;
    flex-direction: row;
}

header a{
    cursor: pointer;
    margin-left: 2rem;
}


li a:hover::after{
    content: "]";
    float:inline-end;
    padding-left: 1rem;
}

li a:hover::before{
    content: "[";
    float: inline-start;
    padding-right: 1rem;
}




/* 푸터 */

footer{
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 40px;
    color: #fff;
    background: rgb(0, 0, 0);
    
}
footer .content{
    max-width: 1350px;
    margin: auto;
    display: flex;
    align-items: stretch;
    justify-content:space-evenly;
}
footer .content .box{
    width: 33%;
    transition: all 0.4s ease;
}

footer .content .right input[type="submit"]{
    height: 3rem;
    width: 50%;
    font-size: var(--midFontSize);
    color: #ffffff;
    background:transparent;
    outline: none;
    border-radius: 20px;
    letter-spacing: 1px;
    cursor: pointer;
    margin-top: 12px;
    border: 1px solid #ffffff;
}

footer .content .media-icons a{
    height: 45px;
    width: 45px;
    display: flex;
    flex-direction: column;
    line-height: 43px;
    border-radius: 5px;
    border: 2px solid #ffffff;
    margin: 30px 5px 0 0;
}

.right > div{
    display: flex;
    flex-direction: row;
}

footer li {
    margin-bottom: 1rem;
}

footer .content .right {
    display: column;
}
@media (max-width:1100px) {
    footer .content .middle{
    padding-left: 50px;
    }
}
@media (max-width:950px){
    footer .content .box{
    width: 50%;
    }
    .content .right{
    margin-top: 40px;
    }
}
@media (max-width:560px){
    footer{
    position: relative;
    }
footer .content .box{
    width: 100%;
    margin-top: 30px;
    }
footer .content .middle{
    padding-left: 0;
    }
}